<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="/fragments/resources :: head"></th:block>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
    <title>Photo</title>
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container">
    <h1>Edit</h1>
    <form id="photo-form" method="post" th:object="${photo}" th:action="@{|/photos/edit/*{id}|}"
          class="row gy-3">

        <ul>
            <li th:each="err : ${#fields.globalErrors() }" th:text="${err}"></li>
        </ul>

        <div class="col-12">
            <label class="form-label" for="title">Titolo</label>
            <input type="text" id="title" class="form-control" th:field="*{title}"
                   th:errorClass="is-invalid">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('title')}">
                <ul>
                    <li th:each="err : ${#fields.errors('title')}" th:text="${err}"></li>
                </ul>
            </div>
        </div>

        <div class="col-12">
            <label class="form-label" for="description">descrizione*</label>
            <input type="text" id="description" class="form-control" th:field="*{description}"
                   th:errorClass="is-invalid">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('description')}">
                <ul>
                    <li th:each="err : ${#fields.errors('description')}" th:text="${err}"></li>
                </ul>
            </div>
        </div>

        <div class="col-12">
            <label class="form-label" for="url">url</label>
            <input type="text" id="url" class="form-control" th:field="*{url}"
                   th:errorClass="is-invalid">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('url')}">
                <ul>
                    <li th:each="err : ${#fields.errors('url')}" th:text="${err}"></li>
                </ul>
            </div>
        </div>

        <div class="col-12">
            <label class="form-check-label" for="visibility">Visible </label>
            <input class="form-check-input" type="checkbox"  th:checked="*{visible}"
                   id="visibility" th:field="*{visible}">
        </div>

        <div class="col-6">
            <h4>categorie</h4>
            <div class="form-check" th:each="ing : ${categoryList}">
                <input class="form-check-input" type="checkbox" th:value="${ing.id}"
                       th:id="|ing_${ing.id}|" th:field="*{categories}">
                <label class="form-check-label" th:for="|ing_${ing.id}|" th:text="${ing.name}"></label>
            </div>
        </div>


        <div class="col-12">
            <a class="btn btn-primary" th:href="@{/pizzas}">Cancel</a>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
</div>

</body>
</html>