<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="/fragments/resources :: head"></th:block>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/6.3.0/css/all.min.css}">
    <title>photo</title>
</head>
<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>
<div class="container">
    <h1>FOTO</h1>
    <h1>Elenco Foto</h1>


    <h2>Aggiungere un Foto  <a th:href="@{/photos/create}" class="btn btn-success rounded-circle" title="add photo">CREAMI</a></h2>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Image</th>
            <th>Actions</th>

        </tr>
        </thead>
        <tbody>
        <tr th:if="${!list.isEmpty()}" th:each="photo : ${list}" th:object="${photo}">
            <td th:text="*{id}"></td>
            <td th:text="*{title}"></td>
            <td th:text="*{description}"></td>
            <td > <img style="max-height: 50px;" th:src="*{url}" > </td>
            <td>

                <a th:href="@{|/photos/*{id}|}">
                    Dettagli
                </a>

                <a th:href="@{|/photos/edit/*{id}|}" >
                    <!-- sec:authorize="hasAuthority('ADMIN')" -->
                    Edita
                </a>

                <a th:href="@{|/photos/delete/*{id}|}">
                    <!--  sec:authorize="hasAuthority('ADMIN')"   -->
                    Cancella
                </a>


            </td>

        </tr>
        <tr th:if="${list.isEmpty()}">
            <td colspan="4">nessuna foto disponibile</td>
        </tr>
        </tbody>
    </table>
</div>



</body>
</html>