<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
  <meta charset="UTF-8">
  <div th:replace="~{fragments/link :: link}"></div>

  <title>Dettagli Foto</title>
</head>
<body>

<header th:replace="~{fragments/navbar :: navbar('photos', '', false)}"></header>

<div th:replace="~{fragments/message :: message}" ></div>
  <div class="container" th:object="${photo}">
    <h1 th:text="*{title}">Foto</h1>
    <hr/>
    <div>
      <dl>
        <dt>Titolo:</dt>
        <dd th:text="*{title}"></dd>

        <th:block th:unless="${#strings.isEmpty(photo.description)}">
          <dt>Descrizione:</dt>
          <dd th:text="*{description}"></dd>
        </th:block>

        <dt>Immagine: </dt>
        <dd>
          <img th:src="*{url}">
        </dd>

        <dt>Visibile:</dt>
        <dd th:if="*{visible}">Yes</dd>
        <dd th:unless="*{visible}">No</dd>

        <dt>Categoria: </dt>
        <dd><span th:each="category : *{categories}" th:text="${category.name}" class="me-1"></span></dd>

      </dl>
    </div>

    <div>
      <a th:href="@{/photos}"> torna la menu foto </a>
    </div>

  </div>

</body>
</html>