<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
  <meta charset="UTF-8">
</head>
<body>
<th:block th:fragment="navbar(current, keyword, showSearch)">
  <nav class="navbar navbar-expand-lg" >
    <div class="container-fluid" >
      <a class="navbar-brand" th:href="@{/}">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" th:href="@{/photos} " th:classAppend="${current == 'photos'} ? active : not-active">Foto</a>
          </li>

         <li class="nav-item">
            <a class="nav-link" th:href="@{/categories}"
               th:classAppend="${current == 'categories'} ? active : not-active" sec:authorize="hasAuthority('ADMIN')">Categorie</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" th:href="@{/mailbox}"
               th:classAppend="${current == 'mailbox'} ? active : not-active" sec:authorize="hasAuthority('ADMIN')">Casella Posta</a>
          </li>

        </ul>

        <form class="d-flex"
              th:if="${showSearch}"
              role="search"
              method="get"
              th:action="@{/photos}"
        >

          <!--colleghiamo il parametro del fragment all'attribute th:value dell'input che si collegherà al controller-->
          <input name="keyword" th:value="${keyword}" class="form-control me-2" type="search" placeholder="Search by title" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>

        <div class="ms-3" >
          <span sec:authentication="name" style="color: black;"></span>
          <span sec:authentication="authorities" style="color: green;"></span>

          <a class="btn btn-danger" th:href="@{/logout}">Logout</a>
        </div>

      </div>
    </div>
  </nav>
</th:block>
</body>
</html>